.input {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

label {
    font-size: 12px;
    line-height: 15px;
    color: #21092F;
    margin-bottom: 9px;
    text-align: start;
}

.input-container {
    margin-bottom: 26px;
}

input {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #8F8694;
    border-radius: 8px;
    font-size: 18px;
    line-height: 23px;
    color: #21092F;
    mix-blend-mode: normal;
    opacity: 0.25;
    padding: 11px 16px;
    text-transform: none;
    width: 100%;
}

input:hover {
    color: #21092F;
    opacity: 1;
    border: 1px solid ;
    border-image: linear-gradient(to right, #6348FE, #610595);
}

.error {
    color: #FF5050;
    font-size: 12px;
    line-height: 15px;
    text-transform: none;
    letter-spacing: 1px;
    margin-top: 8px;
}

.error-border {
    border: 1px solid #FF5050;
}