
.gradient-img {
  width: 483px;
  height: 100vh;
  overflow: hidden;
  position: relative;

  background: #21092F;

}

.shape {
  position: absolute;
  width: 854.9px;
  left: -219px;
  top: -163px;

  mix-blend-mode: normal;
  opacity: 0.25;
}

.oval {
  position: absolute;
  width: 248px;
  height: 657px;
  mix-blend-mode: normal;
  opacity: 0.85;
  filter: blur(67.957px);
  transform: rotate(45deg);
}

.o1 {
  left: 309.53px;
  top: -163px;
  background: #D53AFF;
}

.o2 {
  left: 460.53px;
  top: -116px;
  background: #FF834A;
}

.o3 {
  left: 245.57px;
  top: 120.53px;
  background: #47A2FF;
}

.card-back {
  position: absolute;
  width: 447px;
  height: 222px;
  left: 258px;
  top: 469px;
  background: linear-gradient(168.73deg, #FFFFFF 5%, #D2D3D9 91.69%);
  border-radius: 10px;
  padding-top: 23px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dark-line {
  width: 447px;
  height: 54px;
  background: #2F2F2F;
}

.gray-line {
  margin-top: 24px;
  width: 361px;
  height: 38px;
  background: #ADB5BE;
  border-radius: 4px;
  position: relative;
}

.text {
  position: absolute;
  height: 18px;
  left: 86.7%;
  right: 4.43%;
  top: calc(50% - 18px/2);
}

.text-img {
  width: 186px;
  height: 26px;
  margin-top: 33px;
}

.card-front {
  position: absolute;
  width: 447px;
  height: 245px;
  left: 164px;
  top: 187px;
  background-image: url("./assets/images/front-card.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-num {
  width: 372px;
  height: 36px;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 3.3px;
  position: absolute;
  left: 7.16%;
  right: 9.62%;
  top: calc(50% - 36px/2 + 34.5px);
  font-weight: 500;
  color: #FFFFFF;
}

.card-details {
  width: 383.14px;
  height: 18px;
  margin-top: 200.5px;
  display: flex;
  justify-content: space-between;
}

.input-data {
  position: absolute;
  width: 381px;
  height: 352px;
  left: 832px;
  top: 275px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.flex-mobile {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 450px) {
  .gradient-img {
    min-width: 375px;
    width: 100vw;
    height: 240px;
  }

  .shape {
    position: relative;
    width: 345px;
    height: 435px;
    left: 15px;
    top: -98px;
  }

  .oval {
    width: 226px;
    height: 268px;
    transform: rotate(0deg);

  }

  .o1 {
    left: 96px;
    top: -98px;
  }

  .o2 {
    left: 134px;
    top: -71px;
  }

  .o3 {
    left: 15px;
    top: 69px;
  }

  .cards {
    position: absolute;
    width: 343px;
    height: 251px;
    left: 16px;
    top: 32px;
    filter: drop-shadow(0px 39px 60px rgba(0, 0, 0, 0.142481));
    overflow: hidden;
  }

  .card-back {
    width: 266px;
    height: 157px;
    top: 0;
    right: 0;
    transform: translateX(-68%);
    border-radius: 6px;
    padding-top: 0;
  }

  .dark-line {
    margin-top: 15px;
    width: 266px;
    height: 34.6px;
  }

  .gray-line {
    margin-top: 16px;
    width: 230.98px;
    height: 29.74px;
  }

  .text {
    position: absolute;
    font-size: 9px;
    height: 11px;
    left: 86.7%;
    right: 4.43%;
    top: calc(50% - 11px/2 - 0.46px);
    font-weight: bold;

  }

  .text-img {
    display: none;
  }

  .card-front {
    position: relative;
    width: 286px;
    height: 157px;
    left: 0;
    bottom: 0;
    transform: translate(0, -60%);
    z-index: 1;
  }

  .card-num {
    width: 239px;
    font-size: 18px;
    line-height: 36px;
    position: absolute;
    height: 23px;
    left: 6.99%;
    right: 9.44%;
    top: calc(50% - 23px/2 + 18px);
    letter-spacing: 2.1px;
  }

  .card-details {
    width: 245.11px;
    height: 12px;
    margin-top: 125px;
  }

  .card-owner, .date {
    font-size: 9px;
  }

  .flex-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}
